/*-------------------------root-----------------------*/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

body{
    background-color: #EFEFEF;
    font-family: 'Bebas Neue', "cursive";
    font-family: 'Montserrat', sans-serif
    }

/*-------------------------HEADER-----------------------*/

header{
    background-color: white;
    height: 36.7rem;
    text-align: center;
}

li{
    list-style: none;
}

span{
    font-weight: bold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


#gray-bar{
    background-color: #535151;
    height: 5.0rem
}

#logo-home{
    margin-top: 3.2rem;
    width: 51.3rem
}

#menu{
    margin-top: 4.78rem;
    display: flex;
    justify-content: center;
    gap: 13.0rem;
}

#menu a{
    text-decoration: none;
    color: #707070;
    font-family: 'Bebas Neue', "cursive";
    font-size: 2.5rem;
    line-height: 3.1rem;

}

#icons{
    display: flex;
    gap: 7.04rem;
}

/*-------------------------MAIN-------------------------*/
main{
    display: flex;
    justify-content: space-between;

    margin: 5.0rem auto;
    width: 125rem;

}

main h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.0rem;
    font-weight: bold;
}

#main-wrapper1{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
}

#productText img{
    width: 15.0rem;
    height: 15.0rem;
    object-fit: cover;
    object-position: center -40px;
}

#myProducts{
    background-color: white;
    width: 90rem ;
    padding: 4.5rem 3.0rem;

    border-radius: 1.0rem;
}

#list-wrap{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #707070;
}

#list-wrap ul{
    display: flex;
    justify-content: space-between;
    width: 70%;
    align-items: center;
    color: #535151;
    font-size: 1.2rem;
    font-weight: bold;
    padding-right: 5rem;
    padding-bottom: 2.0rem;
}

#list-wrap ul li:first-child{
    margin-right: 8.6rem;
}

#list-wrap ul li:nth-child(2){
    margin-right: 3rem;
}


#productText{
    width: 100%;
    justify-content: space-between;
    margin-top: 3.5rem;
    display: flex;
    color: #535151;
    font-size: 1.2rem;
    font-weight: normal;
    gap: 2rem;

}


#productText span{
    font-weight: bold;
}

#descriptionText{
    width: 15rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

}


#quantityText form{
    display: flex;
    flex-direction: column;
    gap: 1.0rem;
}

#quantityText input{
    border: 1px solid #CBCBCB;
    border-radius: 1.0rem;
    width: 10.0rem;
    height: 3.5rem;
    text-align: center;
    
}

#quantityText button{
    background-color: white;
    color: #F50057;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

#deliveryText{
    width: 7rem;
    text-align: center;
}

.oldPrice{
    text-decoration: line-through;
}

#delivery{
    background-color: white;
    border-radius: 1.0rem;
    padding: 4.5rem 3.0rem;
}

#CEP{
    border: 1px solid #CBCBCB;
    border-radius: 1.0rem;
    width: 20rem;
    height: 3.5rem;
    text-align: left;
    margin-top: 2.0rem;
    padding-left: 1.3rem;
}

#CEP-submit{
    margin-left: 1.5rem;
    width: 7rem;
    height: 3.5rem;
    border-radius: 1.0rem;
    border: none;
    cursor: pointer;
    background-color: #F50057;
    color: white;
}

#CEP-Options form{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 2.0rem;


    font-size: 1.5rem;
    color: #535151;    

}

.option-wrapper{
    position: relative;
    background-color: #F6F6F6;
    border-radius: 0.5rem;
    width: 100%;
    padding: 1.5rem 2.0rem;
    margin-bottom: 0.5rem; 
}

.option-wrapper .option{
    margin-right: 2.0rem;
}

#abstract{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 33rem;
    min-height: 37.8rem;

    font-size: 1.5rem;

    border-radius: 1.0rem;
    padding: 4.5rem 3.0rem;

    align-items: center;
}

#productAbstract{
    margin-top: 5.0rem;
}

#productAbstract ul{
    display: flex;
    flex-direction: column;
    min-height: 10rem;
    justify-content: space-between;

}

#productAbstract ul li{
    display: flex;
    gap: 12rem;
    justify-content: space-between;    
}

#totalContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.total-amount span{
    font-size: 1.3rem;
    font-weight: normal;
}

#totalContainer a{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: normal;
    color: #303132;
    
}

.total-resume{
    margin-top: 3.0rem;
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
    height: 10rem;
    text-align: right;
    align-items: center;
    font-size: 1.5rem;
    color:#535151
}

.submit-resume{
    border: none;
    background-color: #F50057;
    color: white;
    font-weight: bold;
    padding: 1.6rem 10.0rem;
    border-radius: 1.0rem;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    cursor: pointer;

}

.submit-resume:hover{
    background-color: #d4004a;
}
#CEP-submit:hover{
    background-color: #d4004a;
}

#totalContainer p{
    text-align: center;
}

/*-------------------------FOOTER-----------------------*/
footer{
    display:flex;
    height: 41.5rem;
    margin-top: 5rem;
    padding: 8.5rem;

    justify-content: center;
    gap: 13.2rem;

    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color:#303132;
}

#social h3,
#subscription h3,
#contact h3{
    font-weight: bold;
    font-size: 2.0rem;

    margin-bottom: 4.5rem;
}

#social a img{
    margin-right: 1.5rem
}

#subscription{
    width: 46.0rem;
    text-align: center;
    font-size: 2.0rem;
}

#email{
    width: 46.0rem;
    height: 4.5rem;
    background-color: #F50057; 
    border: none;
    margin-bottom: 1.0rem;

}

#email::placeholder{
    color: white;
    font-size: 2.0rem;
    text-align: center;
}

#submit-email{
    background-color: white;
    width: 46.0rem;
    height: 4.5rem;
    border: none;
    margin-bottom: 1.0rem;
    color: #535151;

    font-size: 2.0rem;
    font-weight: bold;

    cursor: pointer;

    margin-bottom: 8.0rem
}

#contact p {
    font-size: 2.0rem;
    margin-bottom: 1.0rem;
}
